# --------------------------------------------------------- #
# Copy this file to .env and fill in your values:
# cp .env.example .env
# --------------------------------------------------------- #

# Your user ID (run: id -u to get this or it should be automatically set by the docker compose file)
AIRFLOW_UID=501

# Full path to your etl/data folder
MOVIERAMA_DATA_PATH=/your/path/to/movierama/etl/data